footer {
    display: flex;
    align-items: center;
    height: 5vh;
    padding-inline: 10px;
    background-color: $p-clr2;
    justify-content: center;
    font-family: Charlie;
    font-size: rem(17px);
    font-weight: 700;

}