.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: rem(20px);
    background-color: $p-clr2;
    font-family: Charlie;
    font-size: rem(17px);
    font-weight: 700;

    .logo-container{
        span{
            font-family: bitfont;
            font-size: rem(40px);
        }
    }

    .stats-container{
        display: flex;
        gap: 20px;
    }

    .links-container{
        display: flex;
        a {
            padding: 15px 0;
            width: 75px;
            display: flex;
            margin: 0;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: $p-clr3;
                border-left: 1px solid;
                border-right: 1px solid;
            }
            
            &.active{
                background-color: $p-clr3;

            }
        }
    }

}