@font-face {
    font-family: bitfont;
    src: url(fonts/bitFont.ttf);
}
@font-face {
    font-family: bbb;
    src: url(fonts/bb.ttf);
}
@font-face {
    font-family: Charlie;
    src: url(fonts/CharlieDisplay-Regular.ttf);
}
