
//Colors
$p-clr1: #222831;
$p-clr2: #D65A31;
$p-clr3: #EEEEEE;
$p-clr4: #393E46;

//Secondery
$almost-white: #faf6f6;
$almost-black: #393737;

$mobile-padding: 15px;
$narrow-padding: 35px;
$normal-padding: 165px;

$layoutPadding: 20px;

$break-narrow: 560px;
$break-normal: 980px;
$break-wide: 1400px;